.reset {
  border: none;
  padding: 2rem;
  background-color: hsl(208, 100%, 97%);
  color: hsl(38, 23%, 41%);
  text-decoration: none;
  font-size: 1.3rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 2rem;
  cursor: pointer;
}
