.image {
  width: 150px;
  height: 150px;
  border: 5px solid white;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

@media (min-width: 1024px) {
    .image {
        width: 400px;
        height: 300px;
    }
}